@font-face {
  font-family: 'SUSE Mono';
  src: url('/fonts/SUSE_Mono/SUSEMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'SUSE Mono';
  src: url('/fonts/SUSE_Mono/SUSEMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  /* Main Colors */
  --primary-blue: #0337A0;
  --light-gray: #EBF2FA;
  --light-blue: #BADBFF;
  --off-white: #FBFBFB;

  /* Dark Colors */
  --dark-blue: #001358;
  --near-black: #020e1e;

  /* Accent Colors */
  --grapefruit: #FC835E;
  --light-grapefruit: #FFB097;
  --lime-green: #A8F39B;
  --light-green: #CFF6C0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'SUSE Mono', sans-serif;
  color: var(--off-white);
  line-height: 1.6;
  background-color: var(--near-black);
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
